@font-face {
    font-family: "x8y12pxTheStrongGamer";
    src: url("/font/x8y12pxTheStrongGamer.ttf");
}

@font-face {
    font-family: "x12y16pxSolidLinker";
    src: url("/font/x12y16pxSolidLinker.ttf");
}

@font-face {
    font-family: "x16y32pxGridGazer";
    src: url("/font/x16y32pxGridGazer.ttf");
}

.btn{
    -fx-border-style:SOLID;
    -fx-border-color:'black';
    -fx-border-width:5;
    -fx-background-color:#843939;
    -fx-pref-width:280;
    -fx-font-family:'x8y12pxTheStrongGamer';
    -fx-font-size:32;
    -fx-text-fill:#EEEEEE;
}

.btn:hover{
    -fx-background-color:#733333;
}

.btn:pressed{
    -fx-border-color:#FFC115;
    -fx-background-color:#512525;
}
